# Put your requirements here. E.g:
streamlit
numpy
pandas
pyteomics
pyteomics.cythonize
argparse
pprintpp
spectrum_utils
psm_utils
ms_deisotope
openpyxl
numba
joblib
tqdm
stqdm
matplotlib
plotly
logomaker
networkx
pyvis
Requests
scikit_learn
scipy
statsmodels
tqdm
brain_isotopic_distribution
